.testimonials__conatiner {
    max-width: 700px;
    margin: auto;
}

.testimonials__item {
    text-align: center;
    padding:0;
}

.thumb {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
}

.testimonials__title {
    margin-top: 2rem;
}

.subtitle {
    color: #6e65f4;
    font-size: var(--small-font-size);
}

.comment {
    background-color: var(--container-color);
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    position: relative;
    margin-bottom: 3rem;
}

.comment::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--container-color);
    position: absolute;
    left: 50%;
    top: -0.625rem;
    transform: translateX(-7.5px);
}

.swiper-pagination-bullet {
    width: 0.5rem !important;
    height: 0.275rem !important;
    background-color: var(--first-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullet .swiper-pagination-bullet {
    margin: 0 0.2rem !important;
}

.swiper-pagination-bullet-active {
    width: 1.2rem !important;
    height: 0.375 !important;
    border-radius: 0.5rem !important;
}